*{
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: white;
}
.l-options{
  display: flex;
}
.l-options>img{
  height: 66px;
  padding-left: 5px;
}
.search-box{
  display: flex;
  background-color: #f0f2f2;
  border-radius: 35px;
  width: 270px;
  margin-top: 10px;
  height: 44px;
}
.search-box input{
  background: none;
  outline: none;
  border: none;
  font-size: 14px;
  padding-left: 15px;
  
}
.search-box>svg{
  position: relative;
  top: 15px;
  left: 10px;

}
.m-options{
  margin-left: 10px;
}
.m-options ul{
  display: flex;
  padding-left: 100px;
  padding-top: 5px;
}
.m-options li{
  box-sizing: border-box;
  list-style-type: none;
  cursor: pointer;
  width: 115px;
  height: 50px;
  padding-top: 12px;
  text-align: center;
  border-radius: 5px;

}
.m-options li:hover{
background-color: #efefef;
}
.r-o-1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #ededf2;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  cursor: pointer;
}
.r-o-1>span>svg{
  padding-top: 3px;
}
.r-options{
  display: flex;
  position: relative;
  top: 7px;
  margin-left: auto;
  gap: 5px;
  height: 55px;
  margin-right: 20px;
}
.lower-arrow {
  position: absolute;
  bottom: 10px;
  right: 1px;
  background-color: #ededf2;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.m-main{
  display: flex;
  justify-content: center;
  
}
.coverimgbox{
  /* border: solid black 1px; */
  object-fit: fill;
  width:940px ;
  height:400px;
  border-radius: 5px;
  overflow: hidden;
 
 
}
.coverimage img{
  object-position: center -130px;
 
}
.profilecover{
  position: absolute;
  height: 171px;
  width: 171px;
  top: 340px;
  left: 320px;
  background-color: rgb(250, 248, 248);
  border-radius: 50%;
}
.profile-box{
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  height: 165px;
  width: 165px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-box img{
  object-position: center -35px;
}
.name{
position: absolute;
left: 500px;
top: 400px;
/* background-color: rgb(232, 130, 130); */
height: 135px;
width: 720px;
display: flex;
}
.info{
  width: 500px;
}
h1{
  margin-top: 20px;
  margin-left: 15px;
  font-size: 33px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5{
  color: #757575;
  margin-left: 15px;
  font-size: 15px ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.outer{
  /* background-color: rgb(167, 167, 244); */
  height: 135px;
  width: 220px; 
  
} 
.inner{
  /* background-color: rgb(240, 171, 171); */
  width: 180px;
  height: 50px;
  position: relative;
  top: 70px;
  left: 40px;
}
.mess-svgb{
/* background-color: #baf792; */
height: 50px;
width: 180px; 
display: flex;
}
.mess{
  /* background-color: #f57ded; */
  width: 110px;
  height: 50px; 

}
.mess>button{
  width: 105px;
  height: 35px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #0866ff;
  color: white;
  position: absolute;
  top: 5px;
  display: flex;
  gap: 13px;
}
.mess>button>svg{
  position: relative;
  top: 9px;
  left: 7px;
}
.mess>button>p{
  position: relative;
  top: 6px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.svgb{
  height: 50px;
  /* background-color: indigo; */
  width: 50px;
}
.greybox{
  background-color: #e2e5e9;
  height:35px;
  width: 50px;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  cursor: pointer;
}
.greybox>svg{
  color: rgb(70, 70, 70);
  position: absolute;
  top: 10px;
  left: 15px;

}
.options{
 height: 56px;
 width: 860px;
 /* background-color: #e97676; */
position:relative;
top: 135px;
left: 340px;
border-top:solid rgb(196, 192, 192);
display: flex;
}
.l ul{
 display: flex;
 padding-top: 5px;
 
}
.l ul li{
 border-radius: 10px;
 list-style-type: none;
 width: 70px;
 height: 30px;
 text-align: center;
 padding-top: 20px;
 color: grey;


 
}
.more{
  position: relative;
  text-align: center ;
}
.more p{
  position: absolute;
  top:15px;
  left: 65px;
}
.l ul li:hover{
 background-color: #f0f2f2;
}
.l ul li:active{
 border-bottom: solid blue 2px;
}

.r{
  height: 56px;
  width: 330px;
  position: relative;

}
.dots{
  position: absolute;
  left: 275px;
  background-color: #e2e5e9;
  height: 36px;
  width: 56px;
  border-radius: 10px;
  top: 10px;
  
}
.dots svg{
  position: absolute;
  left: 16px;
  top:10px;
}
.lowest{
  height: 500px;
  width: 100%;
  background-color:#eef0f4;
  position: relative;
  top: 150px;
  border-top: solid rgb(196, 195, 195) 1px ;
}
.o-intro-lock{
/* background-color: #f08383; */
height: 250px;
position: relative;
}
.i-intro-lock{
  height: 250px;
  /* background-color: #90eba2; */
  width: 860px;
  position: absolute;
  left: 340px;
}
.intro-lock{
  height: 250px;
  /* background-color: #90eba2; */
  width: 860px;
  position: absolute;
  display: flex;
}
.intro{
  /* background-color: #a785eb; */
  height: 250px;
  width: 360px;
}
.lock{
  /* background-color: #85c7eb; */
  height: 250px;
  width: 500px;
}
.ot-intro{
  background-color: white;
  padding-top: 10px;
  height: 100px;
  border-radius: 15px;
  overflow: hidden;
  width: 350px;
  margin-top: 20px;

}
.in-intro{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #ed87d7; */
  margin-bottom: 10px;
}
.in-intro>span{
  padding-left: 10px;
}
.des{
  /* background-color: aqua; */
  text-align:center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: solid #757575 1px;
}
.des{
  width: 329px;
  margin-left: 15px;
  height: 50px;
}
/* .des>span{ */
/* padding-left: 15px; */
/* padding-bottom: 20px; */
/* } */
.intro-lock ul{
  padding-top: 10px;
  padding-left: 5px;
}
.intro-lock ul li{
  display: inline;
  color: #757575;
}
.intro-lock ul li:hover{
  border-bottom: solid #757575 1px;
}
.o-user-lock{
  background-color: white;
  width: 480px;
  height: 95px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 10px;
  position: relative;
}
.i-user-lock{
 display: flex;
 /* background-color: #c87676; */
 width: 460px;
 height: 80px;
 position: absolute;
 top: 8px;
 left: 10px;
}
.lock-img{
  position: relative;
  width: 50px;
}
.lock-img>img{
  position: absolute;
  top: 15px;
}
.lock-text{
 width: 280px;
 background-color: #fff;
 padding-left: 20px;
 padding-top: 3px;
}
.lock-text1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 16px;
font-weight: 500 ;
}
.lock-text2{
  color: #757575;
}
.i-learnm{
  background-color: #ebf5FF;
  height: 36px;
  width: 100px;
  border-radius: 10px;
  margin-top: 15px;
  position: relative;
}
.i-learnm>span{
  position: absolute;
  top: 7px;
  left: 12px;
  color: #0866ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
/* post wala h nche  */
.o-post-lock{
  background-color: white;
  width: 480px;
  height: 55px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 10px;
  position: relative;

}
.i-post-lock{
 display: flex;
 /* background-color: #c87676; */
 width: 460px;
 height: 40px;
 position: absolute;
 left: 10px;
 gap: 310px;
}
.lock-post{
  position: relative;
  width: 50px;
}
.lock-post>span{
  position: absolute;
  top: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.i-filter{
  background-color: #e2e5e9;
  height: 36px;
  width: 100px;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.filter-text>span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:15px;
  font-weight: bold;
}
.nopost{
  /* background-color: blue; */
  margin-top: 30px;
  text-align: center;
}
.nopost>span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #757575;
  font-weight: 500;
  font-size:21px;
}